<!DOCTYPE HTML>
<html lang="{{ .Language }}" dir="{{ .Site.Language.LanguageDirection | default "ltr" }}">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ i18n "desc" }}">
    <meta name="keywords" lang="{{ .Lang }}" xml:lang="{{ .Lang }}" content="{{ i18n "keywords" }}">
    {{- with .Params.private }}
    <meta name="robots" content="noindex,nofollow">
    {{- end }}
    <title>{{ with .Params.title }}{{ . }}{{ else }}{{ .Site.Title }}{{ end }}</title>
    {{- $css := resources.Get "style.css" }}
    {{- $style := $css | resources.Minify }}
    <link rel="stylesheet" href="{{ $style.RelPermalink }}">
    <link rel="canonical" href="{{ .Permalink }}">
    {{- if .IsTranslated }}
    {{-   range .Translations }}
    <link rel="alternate" href="{{ .Permalink }}" hreflang="{{ .Lang }}" />
    {{-   end }}
    {{- end }}
    {{- if .IsHome }}
    {{-   range .AlternativeOutputFormats }}
    {{ printf `<link rel=%q type=%q href=%q title=%q>` .Rel .MediaType.Type .Permalink site.Title | safeHTML }}
    {{-   end }}
    {{- end }}
    <link rel="sitemap" type="application/xml" title="Sitemap" href="{{ "sitemap.xml" | relURL }}">
    <link rel="icon" type="image/x-icon" href="{{ "favicon.ico" | relURL }}">
    <link rel="shortcut icon" type="image/x-icon" href="{{ "favicon.ico" | relURL }}">
</head>

<body>
    <div class="wrapper">
        {{- $titleImage := resources.Get "title.png" }}
        {{- $titleImageA := $titleImage.Process "resize 1024x webp" }}
        {{- $titleImageB := $titleImage.Process "resize 960x webp" }}
        {{- $titleImageC := $titleImage.Process "resize 640x webp" }}
        {{- $titleImageD := $titleImage.Process "resize 320x webp" }}
        <h1 class="logo">
          <img srcset="{{ $titleImageD.RelPermalink }} 320w, {{$titleImageC.RelPermalink}} 640w, {{$titleImageB.RelPermalink}} 960w, {{ $titleImageA.RelPermalink }} 1024w" sizes="(max-width: 1024px) 320px, 640px, 960px, 1024px" src="{{ $titleImage.RelPermalink }}" alt="UnderCover" />
        </h1>
        <nav class="nav">
            <div class="nav-left">
                {{- block "nav" . }}{{ end }}
            </div>
            <div class="nav-right">
                {{- if .IsTranslated }}
                <ul>
                    {{- range .Translations }}
                    <li><a href="{{ .RelPermalink }}" lang="{{ .Lang }}" alt="{{ .Language.LanguageName }}" rel="alternate">{{ .Lang }}</a></li>
                    {{- end }}
                </ul>
                {{- end }}
            </div>
        </nav>
{{- $bandHome := resources.Get "band_home.jpg" }}
{{ $bandHome = $bandHome.Process "crop 7250x4200 BottomLeft" }}
{{ $bandHome = $bandHome.Process "crop 7000x3600 TopRight" }}
{{- $bandHome = $bandHome.Resize (printf "%dx%d webp" 1024 527) }}
        <img class="cards" alt="UnderCover Members" src="{{ $bandHome.Permalink }}">
        {{- block "main" . }}
        <!-- The part of the page that begins to differ between templates -->
        {{- end }}
        <hr>
        <a href="{{ ref . "imprint.md" }}" rel="about">{{ i18n "imprint" }}</a>
    </div>
    <script data-goatcounter="https://undercover.goatcounter.com/count"
        async src="//gc.zgo.at/count.js"></script>
</body>
</html>
