{{- define "nav" }}
                <ul>
                    <li><a href="#live" rel="nofollow">{{ i18n "live" }}</a></li>
                    <li><a href="#video" rel="nofollow">{{ i18n "video" }}</a></li>
                    <li><a href="https://www.youtube.com/@UnderCoverMunich" rel="nofollow">
                        <svg height="17.690634" width="25" version="1.1" viewBox="0 0 461.001 326.21599"
                          xmlns="http://www.w3.org/2000/svg">
                          <title>@UnderCover @ YouTube</title>
                          <path style="fill:#f61c0d"
                            d="M 365.257,0 H 95.744 C 42.866,0 0,42.866 0,95.744 v 134.728 c 0,52.878 42.866,95.744 95.744,95.744 h 269.513 c 52.878,0 95.744,-42.866 95.744,-95.744 V 95.744 C 461.001,42.866 418.135,0 365.257,0 Z m -64.751,169.663 -126.06,60.123 c -3.359,1.602 -7.239,-0.847 -7.239,-4.568 V 101.214 c 0,-3.774 3.982,-6.22 7.348,-4.514 l 126.06,63.881 c 3.748,1.899 3.683,7.274 -0.109,9.082 z" />
                        </svg>
                      </a></li>
                    <li><a href="https://www.facebook.com/UndercoverMunich" rel="nofollow"><svg version="1.1" width="17.690634" height="17.690634"
                          viewBox="0 0 666.66668 666.66717" xmlns="http://www.w3.org/2000/svg" xmlns:svg="http://www.w3.org/2000/svg">
                          <title>UnderCover @ Facebook</title>
                          <defs id="defs13">
                            <clipPath clipPathUnits="userSpaceOnUse" id="clipPath25">
                              <path d="M 0,700 H 700 V 0 H 0 Z" id="path23" />
                            </clipPath>
                          </defs>
                          <g id="g17" transform="matrix(1.3333333,0,0,-1.3333333,-133.33333,799.99999)">
                            <g id="g21" clip-path="url(#clipPath25)">
                              <g id="g27" transform="translate(600,350)">
                                <path
                                  d="m 0,0 c 0,138.071 -111.929,250 -250,250 -138.071,0 -250,-111.929 -250,-250 0,-117.245 80.715,-215.622 189.606,-242.638 v 166.242 h -51.552 V 0 h 51.552 v 32.919 c 0,85.092 38.508,124.532 122.048,124.532 15.838,0 43.167,-3.105 54.347,-6.211 V 81.986 c -5.901,0.621 -16.149,0.932 -28.882,0.932 -40.993,0 -56.832,-15.528 -56.832,-55.9 V 0 h 81.659 l -14.028,-76.396 h -67.631 V -248.169 C -95.927,-233.218 0,-127.818 0,0"
                                  style="fill:#0866ff;fill-opacity:1;fill-rule:nonzero;stroke:none" id="path29" />
                              </g>
                              <g id="g31" transform="translate(447.9175,273.6036)">
                                <path
                                  d="M 0,0 14.029,76.396 H -67.63 v 27.019 c 0,40.372 15.838,55.899 56.831,55.899 12.733,0 22.981,-0.31 28.882,-0.931 v 69.253 c -11.18,3.106 -38.509,6.212 -54.347,6.212 -83.539,0 -122.048,-39.441 -122.048,-124.533 V 76.396 h -51.552 V 0 h 51.552 v -166.242 c 19.343,-4.798 39.568,-7.362 60.394,-7.362 10.254,0 20.358,0.632 30.288,1.831 L -67.63,0 Z"
                                  style="fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:none" id="path33" />
                              </g>
                            </g>
                          </g>
                        </svg></a></li>
                </ul>
{{- end }}
{{- define "main" }}
{{- $bandHome := resources.Get "band_home.jpg" }}
{{- $bandHome = $bandHome.Resize (printf "%dx%d webp" $bandHome.Width $bandHome.Height) }}
        <section>
            <a name="live"></a>
            <h2>{{ i18n "live" }}</h2>
            {{- range $.Site.Data.gigs }}
            {{-   if lt (sub now.Unix (time .date).Unix) 10252800 }}
            <div class="event">{{ .date | time.Format ":date_medium" }}
            {{-     if and (lt (sub now.Unix (time .date).Unix) 86400) (.locationUrl) }} <a href="{{ .locationUrl }}" rel="nofollow">{{ .location }}</a>
            {{-       with .note }}
            {{-         with index . $.Page.Language.Lang }} <i>({{ . }})</i>
            {{-         end -}}
            {{-       end -}}
            {{-       with .start }}
            @ {{ . }}
            {{-       end -}}
            {{-     else }} {{ .location }}
            {{-   end -}}
            </div>
            {{- end }}
            {{- end }}
        </section>
        <article>{{ .Content }}</article>
        <section>
            <div class="block">
                <a name="video"></a>
                <h2>{{ i18n "video" }}</h2>
                <div class="responsive-video">
                    <iframe width="560" height="315"
                        src="https://www.youtube-nocookie.com/embed/videoseries?si=kTL7tonmLGQnKnUQ&amp;list=PLxlZUEGTN-fPgsf3Hf5zEAqka5utEcWn3"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        allowfullscreen></iframe>
                </div>
            </div>
          </section>
        <script type="application/ld+json">
          {
            "@context": "https://schema.org",
            "@type": "ProfilePage",
            "name": "UnderCover Munich",
            "relatedLink": "{{ site.Home.Permalink }}",
            "dateCreated": "2022-01-01T00:00:00Z",
            "dateModified": "{{ .Lastmod | time.Format "2006-01-02T15:04:05-0700" }}",
            "speakable": {
              "@type": "SpeakableSpecification",
              "xPath": [
                "/html/head/title",
                "/html/body/div[contains(@class, 'wrapper')]/article/p"
              ]
            },
            "inLanguage": {
              "@type": "Language",
              "identifier": "{{ .Language }}"
            },
            "mainEntity": {
              "@type": "MusicGroup",
              "name": "UnderCover",
              "genre": "Rock & Pop Covers",
              "identifier": "{{ site.Home.Permalink }}",
              "brand": {
                "@type": "Brand",
                "name": "UnderCover Munich"
              },
              "logo": {
                "@type": "ImageObject",
                "contentUrl": "{{ absURL "/logo-1024.png" }}",
                "creditText": "UnderCover Munich",
                "license": "https://creativecommons.org/licenses/by-nc/4.0/"
              },
              "event": [
        {{- $len := len .Site.Data.gigs }}
        {{- range $index, $gig := .Site.Data.gigs }}
        {{-   if (time .date).After now }}
        {{-     if (not .private) }}
                {
                  "@type": "MusicEvent",
                  "location": {
                    "@type": "Place",
                    "name": "{{ .location }}",
                    "address": "{{ .address }}"
                  },
                  "name": "UnderCover @ {{ .location }}",
                  "description": "UnderCover @ {{ .location }} on {{ .date | time.Format ":date_long" }}",
                  "identifier": "UnderCover:{{ $index }}",
                  "organizer": {
                    "@type": "MusicGroup",
                    "name": "UnderCover",
                    "identifier": "{{ site.Home.Permalink }}",
                    "url": "{{ site.Home.Permalink }}"
                  },
                  {{- if .free }}
                  {{- with .locationUrl }}
                  "offers": {
                    "@type": "Offer",
                    "url": "{{ . }}",
                    "price": 0,
                    "priceCurrency": "EUR",
                    "availability": "https://schema.org/InStock",
                    "validFrom": "{{ site.Lastmod | time.Format "2006-01-02T03:04" }}"
                  },
                  {{- end }}
                  {{- end }}
                  "performer": {
                    "@type": "MusicGroup",
                    "name": "UnderCover",
                    "identifier": "{{ site.Home.Permalink }}",
                    "url": "{{ site.Home.Permalink }}"
                  },
                  "image": "{{ $bandHome.Permalink }}",
                  "startDate": "{{ .date | time.Format "2006-01-02" }}",
                  "endDate": "{{ .date | time.Format "2006-01-02" }}",
                  "eventStatus": "https://schema.org/EventScheduled",
                  "eventAttendanceMode": "https://schema.org/OfflineEventAttendanceMode",
                  "audience": {
                    "@type": "PeopleAudience",
                    "suggestedMinAge": 18,
                    "name": "Music Lovers"
                  },
                  "url": "{{ .locationUrl }}",
                  "typicalAgeRange": "18+"
        {{-       if eq (add $index 1) $len }}
                }
        {{-       else }}
                },
        {{-       end }}
        {{-     end }}
        {{-   end }}
        {{- end }}
              ],
              "description": "{{ i18n "desc" }}",
              "image": [
                "{{ $bandHome.Permalink }}",
        {{- $image169 := $bandHome.Crop "1600x900 webp" }}
                "{{ $image169.Permalink }}",
        {{- $image43 := $bandHome.Crop "1420x1066 webp" }}
                "{{ $image43.Permalink }}",
        {{- $image11 := $bandHome.Crop "1066x1066 webp" }}
                "{{ $image11.Permalink }}"
              ],
              "alternateName": "UnderCover",
              "sameAs": [
                "https://www.facebook.com/UndercoverMunich"
              ]
            }
          }
        </script>
        <script type="application/ld+json">
          {
            "@context": "https://schema.org",
            "@type": "FAQPage",
            "name": "{{ T "ld.faq.name" }}",
            "mainEntity": [{
              "@type": "Question",
              "name": "When can I see UnderCover live?",
              "acceptedAnswer": {
                "@type": "Answer",
                "text": "
                {{- $gigs := where .Site.Data.gigs "date" "gt" ( now.Format "2006-01-02" ) -}}
                <p>{{- T "ld.faq.next" -}}
                {{- range first 1 $gigs }} <a href={{ .locationUrl }}>{{ .location }}</a>, {{ time.Format ":date_medium" ( .date | time ) }}
                {{- else -}}
                <p>{{- T "ld.faq.none" -}}</p>
                {{- end -}}
                .</p>"
              }
            }, {
              "@type": "Question",
              "name": "Whom to contact?",
              "acceptedAnswer": {
                "@type": "Answer",
                "text": "<p>You can reach use via undercovermunich@gmail.com.</p>"
              }
            }]
          }
        </script>
{{- end }}
