{{- define "main" }}
{{-   $len := len .Site.Data.gigs }}
{{-   range $index, $gig := .Site.Data.gigs }}
{{-     if lt (sub now.Unix (time .date).Unix) 86400 }}
{{-       if (.set) }}
<section>
    <h2>{{ .date | time.Format ":date_long" }}, <a href="{{ .locationUrl }}" rel="nofollow">{{ .location }}</a></h2>
{{-         range $index, $list := .set }}
    <h3>Set {{ add $index 1 }}</h3>
    <ol>
{{-           range $si, $song := $list }}
{{-             with ( index $.Site.Data.songs $song ) }}
        <li><a target="_blank" href="https://musicbrainz.org/work/{{ $song }}">{{ .title }}</a>{{ with .artist }} ({{ .}}){{ end }}{{ with .key }}, {{ . }}{{ end }}{{ with .bpm }} - {{ . }}{{ end }}</li>
{{-             else }}
        <li>{{ $song }}</li>
{{-             end }}
{{-           end }}
    </ol>
{{-         end }}
{{ "<!-- For MusicBrainz:" | safeHTML }}
@ [ef669bb2-00cb-4d31-8481-e144d0b4a871|UnderCover Munich]
{{-         range $index, $list := .set }}
# Set {{ add $index 1 }}
{{-           range $si, $song := $list }}
{{-             with ( index $.Site.Data.songs $song ) }}
* [{{ $song }}|{{ .title }}]
{{-             else }}
* {{ $song }}
{{-             end }}
{{-           end }}
{{-         end }}
{{ "-->" | safeHTML }}

{{-         $people := slice }}
{{-         range $list := .set }}
{{-           range $list }}
{{-             with ( index $.Site.Data.songs . ) }}
{{-               range $key, $value := .notes }}
{{-                  $people = $people | append $key }}
{{-               end }}
{{-             end }}
{{-           end }}
{{-         end }}
{{-         $location := .location }}
{{-         $setlist := slice }}
{{-         $date := .date }}
{{-         range $index, $list := .set }}
{{-           $set := slice }}
{{-           range $list }}
{{-             with ( index $.Site.Data.songs . ) }}
{{-               $set = $set | append . }}
{{-             else }}
{{-               $set = $set | append ( dict "title" . ) }}
{{-             end }}
{{-           end }}
{{-           with $setlist }}
{{-             $setlist = $setlist | append slice $set }}
{{-           else }}
{{-             $setlist = $setlist | append slice $set }}
{{-           end }}
{{-         end }}
  <button onclick="downloadPdf('{{$location }}', '{{ .date | time.Format ":date_long" }}', JSON.parse(`{{ $setlist | jsonify }}`), document.getElementById('pdfNotes').value)">Download PDF</button>
{{- if gt (len $people) 0}}
  <select id="pdfNotes">
    <option value="" disabled selected>Notes for</option>
{{-   range $people | uniq }}
    <option>{{ . }}</option>
{{-   end }}
  </select>
{{- end }}
</section>
{{-       end }}
{{-     end }}
{{-   end }}
<script src="https://unpkg.com/jspdf@latest/dist/jspdf.umd.min.js"></script>
<script>
function downloadPdf(location, date, sets, notesFor) {
    var doc = new window.jspdf.jsPDF();
    var pageOffset = 15;
    var padding = 2;
    var setlistOffset = 2;
    var setlistHeight = 10;
    var songHeight = 8;
    var event = location;
    doc.setFont("helvetica", "bold");
    doc.setFontSize(28);
    doc.text("UnderCover", doc.internal.pageSize.getWidth()/2, 21, null, null, "center");
    doc.setFontSize(21);
    doc.text(event, doc.internal.pageSize.getWidth()/2, 31, null, null, "center");
    doc.setFontSize(18);
    doc.text(date, doc.internal.pageSize.getWidth()/2, 38, null, null, "center");

    page = 0;
    height = 43;
    setIndex = 0;
    sets.forEach((set) => {
        if(set.length > 0) {
            setIndex += 1;
            if(height + padding + setlistOffset + setlistHeight + set.length * songHeight > doc.internal.pageSize.getHeight()) {
                doc.addPage();
                height = pageOffset + padding;
            }
            height += setlistOffset;
            doc.setFontSize(20);
            doc.text(`Set ${setIndex}:`, 10, height);
            height += setlistHeight;
            doc.setFontSize(16);
            set.forEach(song => {
                doc.text(song.title, 10, height);
                if(song.notes && song.notes[notesFor]) {
                    doc.text(song.notes[notesFor], 190 - doc.getStringUnitWidth(song.notes[notesFor]), height)
                }
                height += songHeight;
            })
        }
    });

    doc.save("setlist.pdf");
}
</script>
{{- end }}
