{{- define "nav" }}
<ul>
        <li>
        <a href="{{ site.Home.Permalink }}" rel="home">UnderCover</a>
        </li>
</ul>
{{- end }}
{{- define "main" }}
        <article>{{ .Content }}</article>
{{- end }}