@font-face {
    font-family: 'Typewriter';
    src: URL('FiraCode.ttf') format('truetype'),
        URL('FiraCode.woff') format('woff');
}

body {
    /* Background image */
    background-image: url(background.jpg);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 100%;
    min-width: 100%;

    /* Spacing */
    padding: 0;
    margin: 0;
}

body,
html {
    font-family: 'Typewriter';
    color: #fff;
}

a {
    color: #ccf;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.wrapper {
    /* Centered column */
    margin-right: auto;
    margin-left: auto;
    max-width: 1024px;
    padding-right: 10px;
    padding-left: 10px;

    /* Background Coloring */
    background-color: #221b;
}

.logo {
    /* Placement */
    text-align: center;

    /* Spacing */
    padding: 0.4em;
    margin: 0;
}

@media screen and (max-width: 600px) {
    .logo {
        font-size: 4rem;
    }
}

@media screen and (max-width: 400px) {
    .logo {
        font-size: 2rem;
    }
}

.cards {
    width: 100%;
    height: auto;
}

.event {
    padding-bottom: 0.6em;
}

/* Navigation */
nav {
    background: #0006;
    display: block;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    list-style: none;
    margin: 0;
    padding: 0.1em 0.2em;
    display: inline-block;
}

nav ul li:before {
    content: '| ';
}

.nav-left {
    float: left;
    text-align: left;
}

.nav-right {
    float: right;
    text-align: right;
}

article,section {
    text-align: justify;
    padding: 0.5em;
    margin: 0.5em;
}

aside {
    padding: 0.5em;
    margin: 0.5em;
}

.responsive-video {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0;
}

.responsive-video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}