{{ define "main" }}
<article class="">
  <div class="logo">⚡🔪💣🔫✊💀🌟🌀🔨❗</div>
  I could not find the page, you are looking for. I looked everywhere, but didn't find it, SORRY!
  <h1 id="title"><a href="{{ "" | relURL }}">Go Home</a></h1>
</article>
{{ end }}